[2015-01-17 13:08] sulym-roman opened #1 "Permalinks are the same for all languages"
If I use this plugin to set the same slug for one page in different languages, all these pages get the same URL. ie. http://domain.com/vision. I mean that language directories simply disappear.

WordPress 4.1
Polylang 1.6.3
Polylang Slug 1.0.0

[2015-01-17 20:51] grappler commented on #1
What Polylang URL settings do you have? Could you share the screenshot of the Polylang settings tab?

[2015-01-17 20:56] sulym-roman commented on #1
http://awesomescreenshot.com/08a47rmac2

[2015-01-17 23:30] grappler commented on #1
Ok, I see the problem. I am having the same problem. I have found some code that should fix it. I will be working on this as I need for my own site but it will take some time as I am doing this in my free time and want to test different scenarios.

[2015-01-17 23:36] sulym-roman commented on #1
No worries. I decided to use WPML for this project. But thank you for looking into this. Hope it will help other developers.

[2015-03-30 20:54] mirsch opened #3 "fails to load untranslated post types"
I just installed a plugin and noticed it was not working. (https://wordpress.org/plugins/download-monitor/ in my case, but this a general issue)
The reason for this is, if you query an untranslated post type using `new WP_Query( array('post_type'=>'a_custom_post_type') )` you'll always get zero results because of your modification of the where clause in `polylang_slug_posts_where_filter()` and `po

[2015-03-31 23:46] seokomail opened #5 "Redirect to default languages url"
Hi. I tried to use your plugin. Need the same slug for different languages.
Installed plugin. Created 2 pages with the same slug, but have redirection from
http://tour.wss.pp.ua/en/step-2/
to
http://tour.wss.pp.ua/step-2/

Can you help to solve the problem?

[2015-04-01 20:47] #3 closed

[2015-04-02 07:00] mirsch commented on #5
I have the same issue.
The main problem is polylang does not add the lang parameter to the rewrite rules for pages. On the other hand WordPress uses a different method to load pages compared to posts. (`get_page_by_path()`)
So we need to modify the rewrite rules to get the lang parameter and hook into pre_get_posts to force the right page.
I've created a "quick and dirty" solution to fix this for

[2015-04-02 10:54] seokomail commented on #5
Thank you, mirsch!!! LIKE A CHARM!
grappler, mirsch you are the gods.
Thx men.

[2015-04-13 11:47] mirsch commented on #5
@grappler have you looked into this? Should I create a pull request?

[2015-04-13 22:06] grappler commented on #5
I am still looking into it. For some reason it was working for me on one site.

I have been testing some old code that I removed but it is failing and I am not sure why. https://github.com/grappler/polylang-slug/commit/dbf059027a1829eb8cd3e3677db59da0afba3efb

[2015-04-14 07:09] mirsch commented on #5
I'm not sure if this worked in previous versions of polylang, but in the current version there is no `lang` parameter in the rewrite rules for pages. It looks something like that: `[(en)/(.?.+?)(/[0-9]+)?/?$] => index.php?pagename=$matches[2]&page=$matches[3]` thats why `pll_current_language()` always returns the default language for pages. Without any parameter which indicates the language it's n

[2015-05-12 21:06] #5 closed

[2015-05-12 21:08] grappler commented on #5
@mirsch & @seokomail Can you try with the latest version? A friend made a PR which should fix the issue.

[2015-05-18 13:44] gopeter opened #8 "Feature Request: allow duplicate taxonomy slugs"
This would be very great! :+1:

[2015-05-18 14:17] grappler commented on #8
I will have a look at it. It will take some time. I might work on this in June.

Are you going to [WordCamp Köln](https://cologne.wordcamp.org/2015/)?

[2015-06-03 18:15] grappler commented on #8
I am having a look at this. I am not sure it is possible as I could not find a hooks that I can use. Do you know of any plugin that has this feature? WPML does not have it.

[2015-06-03 21:04] ihorvorotnov commented on #8
@grappler I'm not aware of any hooks atm, but check [this](https://make.wordpress.org/core/2014/11/12/an-update-on-the-taxonomy-roadmap/) and [this](https://make.wordpress.org/core/2015/02/16/taxonomy-term-splitting-in-4-2-a-developer-guide/).

[2015-06-04 10:13] grappler commented on #8
I think I have found a trick.
- Create a term in `wp_terms`. Category `term_id`: 29
  ![image](https://cloud.githubusercontent.com/assets/1785641/7981949/d6b82b9c-0ab2-11e5-8f7c-17b343db9366.png)
- Define the same term for both languages in `wp_term_taxonomy` as `a:2:{s:2:"de";i:29;s:2:"en";i:29;}`. `29` is the term id.
  ![image](https://cloud.githubusercontent.com/assets/1785641/8028221/eb27de9e

[2015-06-10 04:48] grappler commented on #8
After doing a bit more research I found some filters in Polylang that allows a taxonomy to used without needing to translate it.

[code]

Using this method the term is the same for both languages. This change applies to the whole taxonomy is meant for taxonomies that have terms which are the same in other languages.

[2015-08-15 02:54] heymATIN opened #10 "Mixing Default langauge with current language"
I was using this code to display the default langauge for not translated languages in the current language:
[code]

Since using your plugin it does not work anymore :/

Is it possible for you to fix it?
I need both very badly!

And thanks a lot for that great plugin!!

[2015-08-20 15:17] grappler commented on #10
I am looking into the code you provided to see how it works. Could you explain what is not working? What breaks?

When using the code snippet you showed do you create a dummy translate post or do you just have the default translation page?

[2015-08-22 19:48] heymATIN commented on #10
I actually have no clue what happens there. I took this code from here: http://wordpress.syllogic.in/2014/08/going-multi-lingual-with-polylang/ .

I got redirected to that site from the documentation:  https://polylang.wordpress.com/documentation/documentation-for-developers/tips-and-tricks/how-to-display-the-default-language-post-if-the-translation-does-not-exists/

So what that code does is that

[2015-08-22 20:50] grappler commented on #10
A temp solution would be to comment out these two lines of code in my plugin.
`//add_filter( 'posts_where', 'polylang_slug_posts_where_filter', 10, 2 );`
`//add_filter( 'posts_join', 'polylang_slug_posts_join_filter', 10, 2 );`

I will try and see if there is a better solution

[2015-08-23 10:12] heymATIN commented on #10
Yeah can confirm that worked! I still will check for updates. Thanks a lot. Much appreciated!

[2015-08-26 10:22] rasmusbe opened #11 "Publish the plugin on packagist?"
Will this plugin be published on packagist?

[2015-08-26 12:15] grappler commented on #11
I have not planned to. I can do so if there is demand for it.

[2015-08-26 13:03] grappler commented on #11
I have added it to packageist. https://packagist.org/packages/grappler/polylang-slug

[2015-08-26 13:03] #11 closed

[2015-08-30 09:17] cuzue opened #12 "WP 4.3"
Seems not to work with 4.3. Anyone?

[2015-08-30 16:44] grappler commented on #12
What does not work? On my site it works fine.

[2015-09-11 06:40] adamlindqvist commented on #10
It does it job. When I want to mix two languages.

But it breaks other things and starts to redirect in a infinity loop on other pages that has the same slug.

**Example:**
I can mix my blogposts in english and swedish.
But when I have two pages:
www.url.com/client/client-1
www.url.com/en/client/client-1
it starts redirecting "301 Moved Permanently" and I am not able to browse any of the page.

Is

[2015-10-20 09:43] trippo80 opened #13 "Add plugin to wpackagist"
If the plugin is added to wpackagist we could install it via composer.

Thanks!

[2015-10-20 19:35] grappler commented on #13
It is already on packagist. https://packagist.org/packages/grappler/polylang-slug. You just need to run `composer require grappler/polylang-slug`

[2015-10-20 19:35] #13 closed

[2015-10-20 19:36] trippo80 commented on #13
Oh gosh - sorry. I should've looked at packagist as well and not only wpackagist. Thanks for your response!

[2015-10-26 22:55] oliver07 opened #14 "Plugin only works with "posts", it's not working with wordpress "pages""
Hi,
I have installed your plugin and it works perfectly with Wordpress "posts", but as I tried it with Wordpress "pages" it doesn't work. I can't use the same permalink for pages like

English version: www.pvresidences.com/cancun
Spanish Version: www.pvresidences.com/es/cancun

Please Help!

[2015-11-02 19:50] grappler commented on #12
Closing due to no response.

[2015-11-02 19:50] #12 closed

[2015-11-02 20:04] grappler commented on #1
Issue was fixed with PR

[2015-11-02 20:04] #1 closed

[2015-11-15 19:50] shytikov opened #15 "Plugin does not work with categories"
Is it possible to make plugin work with categories as well?

[2015-11-18 16:09] grappler commented on #15
I will have a look. I think it is a bit more difficult.

[2015-11-19 15:55] snapeuh commented on #14
Hello @grappler,

I am planning about using the plugin but got worried seeing this issue. Will it be fixed soon?

Thanks for your answer,

Romain.

[2015-11-19 16:25] oliver07 commented on #14
I found a easy fix: look at the wp plugin polylang slug.

[2015-11-25 16:37] grappler commented on #10
Thank you @adamlindqvist I will be adding your fix to the next version.

@heymATIN It seems to fix your problem.

[2015-11-25 16:39] #10 closed

[2015-11-25 18:19] grappler commented on #14
@snapeuh I retested it today and everything worked fine. Let me know if you have any issues.

@oliver07 So you found a solution?

[2015-11-26 08:26] swissspidy opened #16 "Undefined index notices"
Hey there

After f50cc365c70260f7ebdf73f2f5278ba662870a47 we got some undefined index notices on line 220.

[code]

In this case, `$transPost[$defLang];` might not be set. I guess a simple `isset` or `array_key_exists` check would suffice.

Only happens when on a translated post or a translated 404 page.

[2015-11-27 00:56] petermap opened #17 "can't activate plugin"
Hi,
I searched for a way to use the same slug for my wordpress-themes main tabs (pages) in 2 different languages and found your plugin. It installs without problems, but when I try to activate it, I get this error:

'Fatal error: Call to a member function join_clause() on a non-object in /.../wp-content/plugins/polylang-slug-master/polylang-slug.php on line 133'

I use wordpress 4.3.1 and polylang

[2015-11-27 15:53] grappler commented on #16
Sorry that code should not have been there. I have removed it now.

[2015-11-27 15:53] #16 closed

[2015-11-27 16:00] grappler commented on #17
Could you share the information provided in this plugin? https://wordpress.org/plugins/system-snapshot-report/

[2015-11-27 16:05] petermap commented on #17
### Begin System Info

[code]

Multisite:              No
SITE_URL:               xx
HOME_URL:               xx
WP Version:             4.3.1
Permalink:              /%postname%
Cur Theme:              Ultra 1.1.4
Post Types:             post, page, attachment, revision, nav_menu_item, polylang_mo, tbuilder_layout, tbuilder_layout_part, qa_faqs, wpcf7_contact_form, robo_gallery_table, portfolio
Po

[2015-12-07 10:46] jorenvh opened #18 "Not working on production server"
Hi,

I use your code to be able to use the same slug for different pages across the languages on my site.
This works totally fine on my local server but on my production server it just won't work.

I get the right url in my links but it keeps redirecting me to the other language then the selected one.
WP versions ect are the same across all env. Only difference is that the production server is a m

[2015-12-07 13:58] jorenvh commented on #18
Seems like it always takes the first records that it finds (over all the languages).

[2015-12-07 14:37] petermap commented on #17
Still can't get it activated :/ Any idea what settings could possibly have a negative impact or if there may be a huge red flag I don't see?

[2015-12-26 16:32] Armannas opened #19 "WooCommerce Custom Taxonomy"
Unfortunately does not work with WooCommerce custom taxonomy (for example Color, Brand etc..)
WC version: 2.4.12
WP version: 4.4

[2015-12-28 19:56] grappler commented on #19
I think this is related to https://github.com/grappler/polylang-slug/issues/8 as taxonomy are not supported at the moment just posts and pages.

[2015-12-28 19:59] grappler commented on #18
I have had that problem in the past. I was able to solve it by re-saving the permalink settings.

I am trying to take a more scientific approach to make sure it works in all situations.

[2015-12-28 20:00] grappler commented on #15
Related to https://github.com/grappler/polylang-slug/issues/8 Closing here.

[2015-12-28 20:00] #15 closed

[2015-12-28 20:01] grappler commented on #14
Closing due to no response.

[2015-12-28 20:01] #14 closed

[2015-12-31 05:05] Paronomasiaster opened #20 "Call to undefined function PLL() in polylang-slug.php on line 71"
Hi there.

First and foremost, I should make clear that I am a complete noob. I've recently started making my first website, and am learning as I go.

Anyway, I came across your plugin while researching ways to get the same slug for the two languages (Japanese (default) and English) on my site, e.g. abcdef.co.jp/contact for Japanese, and abcdef.co.jp/en/contact for English. Before, it kept auto-ch

[2015-12-31 07:15] Paronomasiaster commented on #20
Actually, I have got it working. I realised that you updated the plugin for Polylang v1.8 a few days ago. I am using v1.7, so I installed the previous version of your plugin which seems to be working fine.
Don't know if there's still an issue with the code in the new version, or if it's just because I was using v1.7 as opposed to v1.8

[2015-12-31 09:25] grappler commented on #20
I updated the plugin to work in Polylang v1.8 but this way loosing compatibility with v1.7. You should have gotten a message that you need to use Polylang v1.8. I will have a look at it.

Thank you for reporting this :smile:

[2016-01-04 20:52] maartenkools opened #21 "Fatal error: Call to undefined function pll_current_language()"
Hi,

Awesome plugin you made here! I've just activated this plugin with the latest polylang beta (1.8beta3), and got the message

[code]

I added
[code]
at the top of the file, which seems to fix it. Any idea why this is happening?

--
Maarten

[2016-01-07 15:50] grappler commented on #21
On what page are you getting the error?

[2016-01-07 19:45] grappler commented on #18
Please try the latest version that just pushed. https://github.com/grappler/polylang-slug/archive/master.zip

[2016-01-07 19:46] grappler commented on #21
Could you try the latest version and see how that goes?

[2016-01-07 20:03] grappler commented on #20
Hey, I have made a few more changes making the current version again compatable with Polylang 1.7.

https://github.com/grappler/polylang-slug/archive/master.zip

[2016-01-08 12:46] grappler commented on #17
Sorry for the delayed reply. I could not think of a reason why the error should show.

I have made some updates. Could you check the latest version. https://github.com/grappler/polylang-slug/archive/master.zip

[2016-01-08 19:24] maartenkools commented on #21
The same happens with the latest version.

Here's the call stack:

[2016-01-08 21:01] #21 closed

[2016-01-08 21:01] grappler commented on #21
Thank you for the call stack. I was able to replicate the issue and fix it. It was being caused by WP SEO.

[2016-01-08 21:02] #20 closed

[2016-01-08 21:02] grappler commented on #19
Closing as it is the same issue as #8. Pleas track the progress there.

[2016-01-08 21:02] #19 closed

[2016-01-08 21:26] maartenkools commented on #21
Awesome, thanks for the quick fix!

[2016-01-14 12:19] JorisM opened #22 "Wordpress dependency"
Is it really required to have wordpress as a dependency?

`https://github.com/grappler/polylang-slug/blob/master/composer.json#L20`

This causes two folders with wordpress installed in our case. As a workaround we currently ignore the wordpress folder added through polylang-slug.

[2016-01-14 16:34] grappler commented on #22
So, you don't load WordPress using composer?

[2016-01-15 14:14] JorisM commented on #22
we use `wp-cli` to install it to a custom location.

thanks for your time, i appreciate it. gruess us winterthur :)

[2016-01-15 14:22] grappler commented on #22
What are the pros for using `wp-cli` instead of composer? Have you tried defining `wordpress-install-dir`  for your custom location.

[code]

@swissspidy What do you think?

[2016-01-15 14:23] grappler commented on #18
I am going to release v0.2.0 tomorrow, it would be nice if you were able to test it beforehand.

[2016-01-15 14:23] grappler commented on #17
I am going to release v0.2.0 tomorrow, it would be nice if you were able to test it beforehand.

[2016-01-15 14:30] swissspidy commented on #22
@grappler Why me? :-)

The package is of type `wordpress-plugin`, so the dependency should already be clear. Most packages don't have that dependency. Some wouldn't even add the Polylang dependency. Perhaps we as developers are flexible on this.

Mixing composer with wp-cli is rather uncommon though.

[2016-01-15 14:32] lwe commented on #22
Hey @grappler et all, hope you guys don't mind if jump in, but I'm working together with @JorisM on that project. The thing is that in our case the WordPress instance is managed externally and we only used `composer.json` to fetch a few plugins. So this indeed maybe a bit of a unique setup :smile:

[2016-01-15 14:35] #22 closed

[2016-01-15 14:37] grappler commented on #22
Ok, that makes sense. Just wanted to understand the reasons behind it better. :smile:

FYI - There is a monthly WordPress meetup in Bern. http://www.meetup.com/WordPress-Bern/

Thanks @swissspidy for your feedback :smile:

[2016-01-15 14:38] petermap commented on #17
I put this problem aside for a while, as I couldn't get it to work for me.
With the new version I'm able to activate it, ... but polylang still auto-corrects my non-EN slugs from xxx (EN) to xxx-2. It does it with existing pages I try to edit, as well as with new pages I add.
I will try your v0.2.0 tomorrow, thanks for further developing the plugin!

[2016-01-15 14:40] grappler commented on #17
Thanks @petermap :smile: Version 0.2.0 will not be different to what you had now. Could you give access to the site so that i can see whats going wrong? https://ulrich.pogson.ch/contact-me

[2016-01-15 14:41] lwe commented on #22
:tada: thanks a lot for the quick response and fix!

Cool, good to know regarding the WP Meetup :+1:

[2016-01-15 14:42] JorisM commented on #22
alright thanks!

[2016-01-15 14:51] swissspidy commented on #22
Don't forget the [Zurich meetup](http://www.meetup.com/de-DE/WordPress-Zurich/) ;) And WordCamp Switzerland — happening again this year!

[2016-02-27 21:49] Nacionarte opened #24 "Automatic same slug for multiple languages in Polylang"
HI,

Congratulations! It really works allowing the different languages to display same slug;

It is possible to do that automatically by using polylang + lingotek + Polylang Slug?

Currently I'm able to change by hand the slugs ( like en/news, es/news-1 to en/news, es/news) or autosync content but slugs are "serialized";

Let me know if the settings or any other information would be relevant.

Tha

[2016-02-28 21:53] grappler commented on #24
You mean run an updater on the existing slugs after "Polylang Slug" is activated?

I have not used lingotek before.

[2016-02-29 14:06] Nacionarte commented on #24
Yes,

That way it is possible to create wp polylang multilingual setups in two steps, while maintaining coherence between content using same slugs for different languages.

Lingotek allows you to create the original post (let's say english one) polylang powered, and output all the other languages versions automatically.

The content created like this (without translating) maintain the original lan

[2016-02-29 17:44] grappler commented on #24
Why do you not activate "Polylang Slug" before you run Lingotek? That way you would not have trouble with the slugs. If the slugs are not being set correctly then that would be a bug somewhere.

[2016-02-29 18:30] Nacionarte commented on #24
I did but does not work.

I understand that lingotek do their part on remote server and send back the information, should be Polylang Slug hooking up this process ?

I did couple of test with same result (slugs numbered in different languages) and the only thing that appears on debug.log is:
`[29-Feb-2016 18:24:51 UTC] PHP Notice:  Undefined variable: arr in /home/domain/public_html/web1/wp-conten

[2016-03-01 08:54] grappler commented on #24
I would raise the issue with Lingotek. It should be easier for them to find the issue as they know their codebase. The code for checking if the slug should be unique is 53 lines of code which the developers of Lingotek should easily be able to understand. https://github.com/grappler/polylang-slug/blob/master/polylang-slug.php#L60-L113

I am happy to help the Lingotek developers if they need to som

[2016-03-01 08:57] Nacionarte commented on #24
I will check with them, thank you,
Keep up the good job grappler.

[2016-03-08 20:05] lewisbilsland opened #25 "custom post 404 due to rewrite"
I am using custom post types, when activating the slug plugin the custom posts now return a 404 error, flushing permalinks does not help

[2016-03-09 11:28] grappler commented on #25
What plugin or code are you using for the CPT? Have you tried disabling the plugins one by one and reverting to the default theme?

Are you using a custom query?

The plugin is working for me with a custom post type. https://wpzoo.ch/en/themes/penguin/

[2016-03-09 21:52] lewisbilsland commented on #25
I tried disabling plugins one by one, also switching theme, each time the custom post type was released only when the slug plugin was deactivated, this is the code being used for the cpt

[code]

[2016-03-12 20:24] grappler commented on #25
I just tested the CPT on my test website and it worked without any issues. Is there any way for me access a duplicate of the website where I could debug what is causing the issue?

[2016-03-17 16:33] 0xD4 commented on #12
Ulrich, should this work on categories and tags as well?

[2016-03-17 16:50] grappler commented on #18
I am going close this as I have not received any feedback.

[2016-03-17 16:50] #18 closed

[2016-03-17 16:53] grappler commented on #12
Not at the moment fully. There is a partial solution to support a taxonomy which all of the terms have the same slug. https://github.com/grappler/polylang-slug/issues/8

I am planning of adding better support in the future but I need to find time first.

[2016-03-18 07:41] grappler commented on #24
@Nacionarte Did you get any feedback from Lingotek?

[2016-03-18 09:07] 0xD4 commented on #12
Somehow, this is not working for me. I'm not able to set up a new category with same slug. If I don't set up an new translated category, the language-switcher is not working (because of missing translated category).

I'm really looking forward to a working solution.

[2016-03-18 12:46] Nacionarte commented on #24
It seems they are interested https://wordpress.org/support/topic/lingotek-slug-synchronisation?replies=2#post-8128037 (of course)…

🙂

[2016-04-05 06:54] TobiasMalikowski opened #26 "404 Error in combination with Polylang Translate Rewrite Slugs"
Hi and thanks for the great plugin!

I'm facing an issue while using your Plugin "Polylang-Slug" with the ["Polylang Translate Rewrite Slugs"](https://github.com/KLicheR/wp-polylang-translate-rewrite-slugs/issues) Plugin.

**WordPress:** 4.4.2
**Polylang:** 1.8.5
**Polylang-Slug:** 0.2.0
**Polylang-Translate-Rewrite-Slugs:** 0.3.6

This is what I want to archive, please notice that the custom-post

[2016-04-05 20:42] grappler commented on #26
Strange. I tested both plugins on a test site and it worked fine.
The two URLS being :
/de/produkt/test/
/en/product/test/

This is the code that I used to test it.

[code]

[2016-04-06 06:39] MALIK-0 commented on #26
Thanks for testing this @grappler. I tried your code, but got the same result as before (404). But since your code is working for you, it should work for me too. I'll search further, maybe its another plugin that conflicts etc. I will keep you informed here.

[2016-04-06 06:41] grappler commented on #26
Ok, it may be good to disabled all of your plugins except for the those related to Polylang and perhaps even switch to one of the default themes. Have you enabled `WP_DEBUG`?

[2016-04-06 06:42] MALIK-0 commented on #26
Doing this right now, WP_DEBUG is set to true.

[2016-04-06 07:11] MALIK-0 commented on #26
Wow that's strange! I deactivated all plugins except this 3:
- Polylang
- Polylang - Translate URL Rewrite Slugs
- Polylang Slug

I still get an 404 on my and even on your CPT. Couldn't try a default theme cause people are currently working on the content. Do you have any idea how I can narrow this down?

Here is the code i used for my post type (was generated by the plugin: Custom Post Type UI:)

[2016-04-06 08:02] MALIK-0 commented on #26
Update: Tested my theme with the Theme Check Plugin and coulnd't find any warnings or errors that could cause this strange behaviour.

[2016-04-06 10:45] grappler commented on #26
The Theme Check plugin won't tell you much. For a previous user it did not work as the query was not set correctly.

I could perhaps test your theme on my test site.

Query Monitor should also be help to find out where the issue is when loading the page.
https://wordpress.org/plugins/query-monitor/

[2016-04-06 10:56] MALIK-0 commented on #26
I've installed the query-monitor plugin on WordPress TwentySixteen theme with only 4 Plugins (Query-Monitor and the three Polylang plugins) and your code (so i should have the same or similar setup). Can you tell me for what I should look in the Queries? I tried to search the query output for the post id, but got no result.

May I kindly ask you too look at this (Updated Screenshot and removed bla

[2016-04-06 11:28] MALIK-0 commented on #26
@grappler Looks like I found out what creates this issue:

**In my settings -> permalinks I got the following settings:**

Custom: /news/%postname%/

If I remove "/news/" the url is working. Do you have any idea, how I can keep the "/news/" for my blog posts? Btw I wanted to thank you for taking time to help me!

[2016-04-06 12:24] MALIK-0 commented on #26
Okay, I solved that. So for everyone else who is facing similar issues. If you use "Polylang Translate Rewrite Slug" and don't want the front (in my case /news/) added to your translated CPT-Slugs then configure your translation as follows.

[code]

The important part is "with_front => false". I did not know that the plugin overwrites the settings i did while registering the cpt. But thats the cas

[2016-04-06 12:24] #26 closed

[2016-04-06 12:27] grappler commented on #26
Ah, great. Pleased it worked out :smile:

[2016-05-17 19:54] gtso86 opened #27 "This plugin should work with taxonomies too?"
I found your plugin reading this [thread](https://wordpress.org/support/topic/how-to-use-the-same-slug-for-categories?replies=8) and I don't know if is working with the new Polylang version anymore...

I'm trying to save multiple categories with the same name for each language, but since the new plugin now append the lang 2 char in the end Idk if you plugin still working...

Example:
<img src="htt

[2016-05-18 05:01] grappler commented on #27
Yes, taxonomies are not supported. The original issue is https://github.com/grappler/polylang-slug/issues/8

I don't think I will be adding this feature as this feature is supported in Polylang pro.

[2016-05-18 05:01] #27 closed

[2016-06-01 02:34] BScharbau opened #28 "Not working under WordPress 4.5.2 and Polylang 1.9.1"
I'm trying to use your pluging under WordPress 4.5.2 and Polylang 1.9.1, PHP version 5.6.18.

Unfortunately, it shows the notice `Polylang Slug requires Polylang v1.7 and WordPress 4.0`, which actually shouldn't be showing because the version is tested for greater/equal.
Also if I skip the version check, slugs are still always changed to `about-en` or `about-2` when using your plugin.
Any help wou

[2016-06-01 07:20] chesio commented on #28
The plugin works fine for me with WordPress 4.5.2 and Polylang 1.9.1 (and PHP 5.6.21). Must be something related to your setup (installed plugins, configuration etc.)

[2016-06-01 12:07] grappler commented on #28
I am running the latest versions without an issue. Have you tried disabling the plugin and activating a default theme?

[2016-06-01 13:13] LehaMotovilov opened #29 "Duplicate taxonomy + post slugs."
Hi! Thanks for cool plugin.

I see: https://github.com/grappler/polylang-slug/issues/8

But I have another question or I don't understand correctly.

http://domain.dev/en/category/post/
http://domain.dev/ru/category/post/

By default, WP 4.5.2 + Polylang (free) 1.9.1 don't allow to create terms with same slug.

But I see that feature in Pro version:
- Translations can share the same slug in the UR

[2016-06-01 15:43] grappler commented on #25
Closing as this does not seem to be an issue any more.

[2016-06-01 15:44] grappler commented on #17
Closing as it seems to working now

[2016-06-01 15:44] #17 closed

[2016-06-01 15:44] #25 closed

[2016-06-01 15:45] grappler commented on #24
@Nacionarte Do you know if they got a fix out?

[2016-06-01 15:47] grappler commented on #29
I think your question is related https://github.com/grappler/polylang-slug/issues/8

As this functionality is included in Polylang Pro I am not planning on continue to work on the issue as it is cheaper for me to buy the plugin then invest time to write the code.

[2016-06-01 15:48] LehaMotovilov commented on #29
Ok, thanks for response.

[2016-06-01 15:48] #29 closed

[2016-06-02 10:39] Nacionarte commented on #24
Sadly not …

😐

[2016-06-30 06:57] bateast2 commented on #28
I had the same issue on WP 4.5.3 Multsites.
The following configuration fixed it:
- Network activate Polylang plugin
- Localy activate Polylang Slug plugin on each required site (when network activated i faced the error described in this threaad)

[2016-07-21 10:33] AdamQuadmon commented on #8
What's the state of this?
I tried to follow you on the db hack with no luck.
How is supposed to be used the code in your last post?

For now I'm thinking to just not use categories and only slugs:

mysite.com/video-my-post
mysite.com/es/video-my-post

[2016-07-21 14:44] grappler commented on #8
@AdamQuadmon Polylang Pro offers this feature so I don't really have a reason to work on this anymore. I should perhaps add something to the documentation.

[2016-08-14 17:00] floffimedia commented on #8
@AdamQuadmon I was struggling with this issue too. Finally, I came up with a hack, but I can't actually recommend it, unless you're really desperate ...

Let's say you've created two duplicate categories in the dashboard, where one of them has the slug `video` and the other one gets renamed to `video-es`. You can then head over to phpMyAdmin, find the right entry in `wp_terms` and change the slug

[2016-09-23 12:58] Eric007BK opened #30 "Not working since polylang update to v2.005"
Hello

 The plug-in not working on my website since I updated to Polylang 2.0.5

Any help would be appreciated.

Best regards

[2016-09-23 13:16] theyuv opened #31 "See same post in different urls"
Question:

Hello,

Under Polylang settings->Custom Post types and Taxonomies, I have not selected my custom post to be translated.

Will this plugin still work for these custom posts?
Or do I need to first tell Polylang to internationalize posts so that Polylang creates a separate page for each custom post who's url I want to duplicate.

Ultimately, I want a single post to be displayed for several

[2016-09-23 15:06] grappler commented on #31
The plugin will not show the same content in different URLS. The easiest solution is to copy the content across when you have made changes.

I am not sure if it is a good idea for SEO as Google will see the second post and duplicate content.

[2016-09-23 15:10] grappler commented on #30
What part does not work? Is it the posts or the pages? What happens instead? Do you get a 404 page or do you get directed to the default language page?

[2016-09-23 15:18] theyuv commented on #31
Thanks a lot for your input.
I don't know why I didn't realize that it wouldn't be good for SEO.

I think I will just have a single url per post and then set the header, footer and some other links according to language (which for posts maybe I'll set with a cookie or something rather than via the url)...Any other suggestions/input?

Thanks

[2016-09-23 19:51] Eric007BK commented on #30
I have the problem only on page with same slug in english and in french.

**before update**
https://www.bloominthenaturalway.com/fr/contact/ --> https://www.bloominthenaturalway.com/en/contact/

https://www.bloominthenaturalway.com/fr/travellers-paradise/ --> https://www.bloominthenaturalway.com/en/travellers-paradise/

**after update**
https://www.bloominthenaturalway.com/fr/contact/ -->
https://

[2016-09-24 00:32] grappler commented on #31
Sorry, I don't have any better ideas.

[2016-09-24 00:32] #31 closed

[2016-09-24 03:41] grappler commented on #30
The contact page seems to be working again.

I tested the update on my site and it was working fine.

Have you tried refreshing the permalinks by accessing the permalink page?

Could the cause be another plugin that you installed at the same time?

FYI WordCamp Bordeaux is taking place on 17 mars 2017.

[2016-09-24 08:55] Eric007BK commented on #30
Hi

I made some tests, i disabled all the plugins, it's a problem between Polylang+Polylang-Slug and W3 Total Cache since Polylang 2.0.5 update.

Best Regards

[2016-09-24 09:14] grappler commented on #30
I am not sure that I want to support W3 Total Cache. https://wptavern.com/high-risk-xss-vulnerability-discovered-in-w3-total-cache-plugin

Would be interesting to know if it works in the fork. https://github.com/szepeviktor/fix-w3tc

[2016-09-24 19:56] Eric007BK commented on #30
Thanks for the link to the fork.
I tested it and i have same issue.
I'm going to investigate to find the functionality in W3 Total Cache causing this bug.

[2016-09-25 07:40] Eric007BK commented on #30
The "Object Cache" via disk  feature of W3TC causing this bug since Polylang 2.0.5

[2016-09-25 11:55] grappler commented on #30
I think this may be commit that is causing the issues. https://github.com/polylang/polylang/commit/e666c7888f8c396b91c1f41377a18666495559a8

Polylang 2.0.5 was a small update with not alot of changes.

[2016-10-12 11:38] blackerfin opened #32 "PolyLang 2.0.5 and Wordpress 4.6.1 not working."
I'm trying to use the pll_current_language function but always return null and if I don't include the api.php file then break the page.

This is my code:

[code]

$result value is always false. I hava tryed to set $field to name, locale and slug with same result. I think that PLL is null and, when check isset(PLL()->curlang->$field) is not isset and then return false.

What can I do?

Thanks

[2016-10-12 14:31] grappler commented on #32
Have you seen this issue? https://github.com/grappler/polylang-slug/issues/21

[2016-10-12 16:15] blackerfin commented on #32
Yes, but dont work for me.

I have been trying and I can use the function in the front-end but not in the back-end.

I have a plugin development by me and I need know the idioma to charge an different .po file. I think that polylang plugin is charge after my plugin..

[2016-11-10 20:08] oarashi opened #33 "Install problems"
Sorry if this question is stupid, but I can't install this plugin. I've tried to install polylang-slug.php directly and compressing it in .zip with composer.json, but it doesn't work. Can you, please, provide instructions?

[2016-11-10 21:30] evanre commented on #33
Hello, download the latest version [here ](https://github.com/grappler/polylang-slug/releases) (Source code (zip)), unzip the archive in `wp-content/plugins`, open your admin dashboard -> plugins, and activate it.

That's all, plugin is working, now you can make same slugs for different languages.

[2016-11-11 09:21] oarashi commented on #33
@evanre Thanks!!!

[2016-11-30 20:09] arpa463x commented on #5
@mirsch Thank you very much. Your plugin works perfectly ! I created and account only to thank you !

I had the same issue: login widget plugin can be configured to redirect to only one fixed URL after login. So it was redirecting to only one page in one language whatever the language was before. I spent a lot of time trying to overcome this problem. But your plugin solved everything in very nice

[2016-11-30 21:25] mirsch commented on #5
@arpa463x thank you, but give the Kudos to @grappler! He's the one who wrote and maintain the plugin.

[2016-12-12 16:09] beherit opened #34 "Not working on latest Polylang and Wordpress"
Unfortunately plugin not working on latest version of Polylang and Wordpress.

1. I have an notice in all admin pages "Polylang Slug requires Polylang v1.7 and WordPress 4.0".
2. I can't create page with this same slug e.g. I have page /pl/somepage/ and want to create /en/somegage/ but I always get permalink /en/somepage-2/

I think there was some changes in newer version of Wordpress because in P

[2016-12-13 09:18] idflood opened #35 "Polylang-slug sometime loaded after polylang"
On some recent website an update of wordpress broke the module. The error message from `polylang_slug_admin_notices` was shown despite having both wordpress and polylang updated.

It turns out polylang was only loaded after polylang-slug, so the `POLYLANG_VERSION` constant was not declared yet the whole plugin was not working.

To fix it I manually changed the order of plugins in the table `wp_opt

[2016-12-13 15:55] beherit commented on #34
https://github.com/grappler/polylang-slug/issues/35

[2016-12-13 21:00] Chouby commented on #35
That should not happen as Polylang should be the first plugin loaded. Adding some compatibility with WP 4.7 makes me introduce this bug with https://github.com/polylang/polylang/commit/3754c70986d136e602f4e5dff309ba37c073d18d
I will fix that in the next version.

[2016-12-13 21:53] grappler commented on #35
@Chouby I have not had time to test it. This can be fixed on your end?

[2016-12-14 17:01] beherit opened #37 "Problem with XML Sitemap & Google News feeds"
Please take a look this issue:

https://wordpress.org/support/topic/this-is-not-a-valid-feed/

When I have enabled polylang-slug I have problem with "XML Sitemap & Google News feeds" and sitemap - I see there only pages from one language. When I furn off plugin OR comment 2 filers: polylang_slug_posts_where_filter and polylang_slug_posts_join_filter everything's start working. Could You add fix fo

[2016-12-14 17:09] RavanH commented on #37
Would changing line 264
`
	if ( is_admin() || ! function_exists( 'pll_current_language' ) || $disable ) {
`
to
`
	if ( is_admin() || is_feed() || ! function_exists( 'pll_current_language' ) || $disable ) {
`
solve the issue?

[2016-12-14 17:15] beherit commented on #37
Yes, thank You :)

[2016-12-14 17:16] RavanH commented on #37
But it might break slugs in feeds... please verify.

[2016-12-14 17:19] beherit commented on #37
Slugs in feeds are still okey for me ;)

[2016-12-14 18:10] beherit commented on #37
@RavanH uhm still there is a problem with taxonomy (categories and tags) - I have taxonomy only in Polish language and when change to English version then from sitemap disappear all taxonomy.

[2016-12-14 20:30] Chouby commented on #35
Sure. It will be fixed in the next version. I reverted the faulty commit and found another fix for the compatibility with WP 4.7.

[2016-12-19 14:42] grappler commented on #35
@idflood Can you confirm the issue is fixed in Polylang 2.0.12?

[2016-12-19 14:43] grappler commented on #34
@beherit Can you confirm the issue is fixed in Polylang 2.0.12?

[2016-12-19 14:43] #33 closed

[2016-12-19 14:44] #28 closed

[2016-12-19 14:45] grappler commented on #24
@Nacionarte It seems it got fixed now https://wordpress.org/support/topic/lingotek-slug-synchronisation/#post-7143311

[2016-12-19 14:45] #24 closed

[2016-12-19 14:46] beherit commented on #34
Yep, new version fixed this problem.

[2016-12-19 14:46] #34 closed

[2017-01-18 10:39] Ps1996 opened #38 "Open 404 page"
I want to use polylang for my new project. It is possible that I use two times this page structure

events/forum/home

I try to use your plugin but I have an issue

www.url.com/de/events/forum/home works
but
www.url.com/en/events/forum/home open the 404 page. I generate the sites like each time with polylang but if I install the plugin wordpress can't open the page.

[2017-01-18 16:21] grappler commented on #38
- Have you refreshed the permalinks after activating the plugins?
- Is it a page or custom post type?
- Does www.example.com/en/events work?

[2017-01-29 00:31] lemagcinema commented on #30
I have a very similar problem, that I submitted somewhere else.
my site lemagcinema.com is redirected to lemagcinema.fr by w3totalcache, but I don't know where. I deactivate the object cache, empty the cache and try again, but it wasn't solving the issue...

[2017-01-29 00:32] lemagcinema commented on #30
(https)

[2017-02-19 14:11] lemagcinema commented on #30
A fix is foreseen ? Because as for it I will have to choose between polylang and W3TC, and I am afraid it will be W3TC ...

[2017-02-19 19:45] grappler commented on #30
@lemagcinema
So when you disable "Polylang-Slug" it works?
Does it work when you disable "W3TC"?
What is your default language in Polylang?
Have you measured the time to load the site with W3TC enabled and disabled?

Thank you for answering the questions.

[2017-02-19 20:32] lemagcinema commented on #30
Is polylang slug another name of polylang or something else ?
It works when W3TC is disabled, and it used to work when it was previous version of polylang and the site was not in https (don't know which one was the origin of the problem)
default langage: french.
time to load the site is largely better with W3TC enabled. (/2 at least)

[2017-02-19 20:36] grappler commented on #30
Polylang Slug is an addon plugin for Polylang. The support forum for Polylang can be found here: https://wordpress.org/plugins/polylang/

[2017-02-19 20:49] lemagcinema commented on #30
ok, sorry for the mistake (the issue is so similar) but I desesperate since I 've already reported the bug but nobody is taking care of that case ... As if I was the only one to get this trouble...

[2017-03-28 19:17] Feofilov commented on #38
The same problem unfortunately. After updating the pll.
refresh permalinks - did not help

[2017-03-31 14:01] alexmovingwaldo opened #39 "Not working on Wordpress 4.7.3 + Polylang 2.1.2"
Do I have to do a manipulation to make it work again ? Thanks for the answer ! :)

[2017-04-08 15:35] ConovaloffJustForFun commented on #39
I'm has:
Wordpress: Version 4.7.3
Polylang: 2.1.2
PolylangSlug: 0.2.1

All work and i'm don't see any problem.

[2017-05-03 18:28] francois-auclair commented on #39
seems to be working for me too

[2017-06-24 04:52] olegbolden opened #40 "Footer in popular Impreza theme is gone away"
Hello,
Everything worked fine except that footer is gone away when this plugin is activated.
WordPress 4.8
Impreza 4.5
Polylang 2.1.5

[2017-06-26 06:13] grappler commented on #40
So to be clear when you deactivate this plugin the footer works fine?

Do you have a link where I can see this as I can't test this locally as I don't have access to the theme?

[2017-06-26 13:44] olegbolden commented on #40
Hello, Ulrich,
Thank you for the prompt reply.Your plugin is very usefull and I wish you to find the solution.Yes, when I deactivate your plugin footers come back in both languages (Russian and English). http://festival.bolden.ru Now it is not active and everything works fine.You can download my theme to investigate the problem: http://cloud.bolden.ru/index.php/s/qai9zIKruBaHVYj I don't remember w

[2017-06-29 13:42] adamazad opened #41 "Incompatible with v2.1.5"
Hi,
Thanks for the amazing plugin. Unfortunately, it does not appear to work with Polylang v2.1.5. I went through every issue here to make sure I am not having a cache issue.

The permalinks of pages and posts redirect to the default language of the. For example:
- `example.com/en/post-test/` redirects to `example.com/en/post-test/`
- `example.com/ar/post-test/` redirects to `example.com/en/post-t

[2017-07-02 19:13] grappler commented on #40
Hi Oleg

I was able to replicate the issue but I could not work out a quick fix and I don't really have the time to work on an update.

I tested the theme with Polylang Pro which also has this feature and it works fine. I would recommend getting Polylang Pro.  As Polylang Pro already exists with the feature it is cheaper for me to buy the pro version then to spend time working on this.

Sorry I co

[2017-07-02 19:21] olegbolden commented on #40
Hi, Ulrich
Thank you for your time! OK, don't mind it.
-- Best regards,Oleg Bolden.

[2017-07-04 21:52] orest22 commented on #41
Same issue

[2017-07-17 19:05] crslp commented on #41
If you have, try polylang v2.1.3. On wordpress v4.8, polylang-slug will work. Just don't upgrade the plugins. If you do not have the older versions, I could provide it.

[2017-07-21 05:21] markmaurerrr commented on #41
+1, fix for the new version would be amazing :-)

[2017-08-02 21:28] mabdulhalim commented on #41
@crslp I tried with polylang v2.1.3 but didn't work also

[2017-08-05 17:15] karelvanhecke commented on #41
It works as expected again after a clean install. (Wiped all settings)

[2017-08-14 19:32] adamazad commented on #41
@crslp, I tried v2.1.3, and got same results posted above. @karelvanhecke, what version are you referring to?

[2017-09-08 14:05] AIOcollective commented on #41
Wordpress 4.8.1 and polylang 2.2.1  works just fine

[2017-09-08 14:05] kokers commented on #41
Wordpress 4.8.1 and polylang 2.2.1  works just fine

[2017-09-11 09:20] jatiyanon commented on #41
Me too. But it's work after other slug plugins disabled. (such as LONG URL MAKER => generate long slug as you want).

[2017-09-30 19:30] carlosbranco opened #42 "The plus "+" button to translate taxonomies give 404 page"
When i click to generate a translation of some taxonomie: (this URL)

site.com/wp-admin/edit-tags.php?taxonomy=category&post_type=post&from_tag=2269&new_lang=es

I got 404 page.
Im using v2.2.3

[2018-03-15 11:40] albabosh opened #43 "Composer install available ?"
Is it possible to install it with composer from wpackagist ?

[2018-03-15 16:13] chesio commented on #43
As far as I know, this plugin is not available via WordPress plugins repository so it's also not available via wpackagist.org.

But you can install the plugin with Composer directly from GitHub, just add the repo URL to your `composer.json`.
[code]

[2018-03-19 09:57] udidol opened #44 "Polylang v2.3.3, Yoast SEO v6.3.1 and Wordpress v4.9.4 - Plugin error"
I am running the latest Wordpress v4.9.4 and the latest Polylang v2.3.3.
Your plugin worked perfectly until today for some reason.
Not sure what triggered it, could have been an update I did to the latest version of Polylang, but I only saw the error today - this error:

_Polylang Slug requires Polylang v1.7 and WordPress 4.0_

![image](https://user-images.githubusercontent.com/36724484/37588813-0

[2018-03-19 11:44] anasandia opened #45 "how to hide the current language without a widget?"
Hi,
This widget is awesome!, i just have two questions.

- How can i hide the current language switcher? the thing is that i´m not using the widget area, i put this code before the menú
` <?php if (function_exists('pll_the_languages')): ?>
         	<ul class="monstro-polylang"><?php pll_the_languages(array('show_flags'=>1,'show_names'=>0));?></ul>
         <?php endif; ?>`

- Something weird happ

[2018-03-23 12:29] chesio commented on #45
Hi @anasandia,

see my answer in [Polylang support thread](https://wordpress.org/support/topic/hide-the-current-language-switcher-without-using-widget/).

Btw. you're asking in wrong repository - this repository is for an extension to Polylang, the Polylang repository is: https://github.com/polylang/polylang

But I recommend to keep support question to support forums like you originally did.

[2018-05-17 09:14] #45 closed

[2018-05-17 09:15] #43 closed

[2018-05-19 06:39] #35 closed

[2018-05-20 17:49] grappler commented on #32
Seems this issue was for Polylang plugin itself than "Polylang Slug"

[2018-05-20 17:49] #32 closed

[2018-05-20 18:04] #37 closed

[2018-05-20 18:05] grappler commented on #37
I have added a fix for this.

Otherwise the filter should have worked like this.
[code]

[2018-05-20 18:10] grappler commented on #38
@Feofilov Is it a custom post type? What is the URL structure?

[2018-05-20 18:13] grappler commented on #39
I have tested WP 4.9.6 and Polylang 2.3.6 and it works fine for Posts and Pages.

[2018-05-20 18:13] #39 closed

[2018-05-20 18:14] grappler commented on #41
I have tested WP 4.9.6 and Polylang 2.3.6 and it works fine for Posts and Pages.

[2018-05-20 18:14] #41 closed

[2018-05-20 18:15] grappler commented on #42
I have tested WP 4.9.6 and Polylang 2.3.6 and it works fine for Posts and Pages.

[2018-05-20 18:15] #42 closed

[2018-05-20 18:24] grappler commented on #30
I have tested WP 4.9.6 and Polylang 2.3.6 and it works fine for Posts and Pages.

[2018-06-07 07:27] yarovikov opened #46 "same slug not work with polylang 2.3.7"
hi) this problem after polylang update to 2.3.7

[2018-08-12 03:08] grappler commented on #46
Hi @yarovikov What exactly is not working? What were you trying to do?

[2018-08-12 06:35] yarovikov commented on #46
Hi. It's not work for tax

<img width="788" alt="screen shot 2018-08-12 at 09 31 21" src="https://user-images.githubusercontent.com/30932012/43999331-0678e2c6-9e13-11e8-8599-9eeb2b651b9f.png">

[2018-08-12 06:56] grappler commented on #46
This is a known issue which is being tracked in #8.

As [Polylang Pro](https://polylang.pro/) has this feature I personally don't use this plugin anymore. I would recommend using Polylang Pro too.

In your case I would recommend using the Russian word in the slug for better SEO.

[2018-08-12 06:56] #46 closed

[2018-09-29 09:08] apibiri opened #47 "categories are not working"
Hi,

I have all plugins and WP up to date. I have created a plugin with your code (thanks!!!), activate it, but it's not working.
I am using Sydney theme and trying to set 2 different categories for "employee" with the same slung, but it's not working, WP rename the the slug adding a "-2" to the name

[2018-10-01 10:36] chesio commented on #47
Hi, your problem is already being discussed in #8.

TL;DR: This is not supported by the plugin and probably never will be as [Polylang Pro](https://polylang.pro/) offers this feature.

[2018-10-03 12:19] chithract opened #48 "Issues with post slugs, but works with page slugs"
This plugin  works very well with  pages. But for posts, it works fine in the admin panel. But on front-end, it redirects to the main language post page and lists all language translations.

Is this a known issue? Could you please help me to solve this issue?

Thanks & Regards,
Chithra.

[2018-10-04 07:47] chithract commented on #48
Solved this issue by using the latest version - 0.2.2

[2018-10-04 07:48] chithract opened #49 "Search not working"
Default Wordpress search is not working with this plugin.

Polylang version: 2.3.11
Polylang Slug version: 0.2.2
Wordpress version: 4.9.8

Is this a known issue? Could you please help me to solve the issue?

Thanks & Regards,
Chithra

[2018-10-09 17:09] grappler commented on #47
As mentioned, it is know issue that is tracked in #8

[2018-10-09 17:09] #47 closed

[2018-10-09 17:33] grappler commented on #49
This is not a known issue. I tried it again on my test site and it worked ok.

[2019-06-26 00:45] eaglejohn opened #50 "Doesn't work anymore?"
On my websites it doesn't seem to work anymore...

Polylang Slug v0.2.2
Polylang 2.5.4
WordPress 5.2.2

Anyone else with the same issue?

[2019-06-26 18:09] schwantuschke commented on #50
Same problem with same version.

[2020-01-03 18:13] LukaszJaro commented on #50
Still working for me, just updated to latest version of polylang Version 2.6.8 and polylang-slug 0.2.2

[2020-04-01 18:33] maronbartlomiej commented on #50
Still works, thanks for the great job!

[2020-05-02 09:05] Dreadw1nd commented on #50
Not work with Polylang 2.7.2
Polylang Slug v0.2.2
WP 5.4.1

[2020-08-24 08:15] goodleby commented on #50
Same issue. Not working.
WP v5.2.7
Polylang 2.6.2
Polylang Slug v0.2.2

[2020-10-27 19:49] ItsVlad commented on #50
Works fine for me:

WP v5.5.1
Polylang v2.8.3
Polylang Slug v0.2.2

[2020-12-11 17:27] oliinykdm commented on #50
Works fine:

WP 5.6.0
Polylang v2.9
Polylang Slug v.0.2.2

[2021-03-15 19:11] Emanuel-23 opened #51 "Change version_compare to use a correct operator"
I know this repo is not actively maintained (UNFORTUNATELY!!) but for those who might need it or maybe if the author is willing to fix this anyway (please 😄  ):

https://github.com/grappler/polylang-slug/blob/f521168ad553ea7f54bc96f7b7014b93c3845c1f/polylang-slug.php#L31

the used operator is incorrect. the operator should be one of the following: `<, lt, <=, le, >, gt, >=, ge, ==, =, eq, !=, <>`.

[2021-04-12 20:19] standerksen commented on #50
I can confirm it is still working. Just make sure you did not set 'The language is set from content' from the 'URL Modifications' section of the Polylang settings, and it should work just fine.

WordPress 5.7
Polylang 3.0.3
Polylang Slug 0.2.2

[2021-06-24 06:33] nomedia commented on #51
thanks,remove this line  it works.

[2021-07-20 05:51] lucidgen commented on #50
work for me

WorsPress 5.7.2
Polylang 3.0.6

I hope developer keep update this plugin

[2021-08-02 06:55] rwkyyy commented on #51
if you arrived here because of an PHP error on line 31; in PHP 8.x, the solution is simmple:
either you change the operators from `=<` to `<=`
OR
you remove line 31 (I suggest comment);

both solve the issue.

[2021-09-28 20:08] lufton commented on #50
You can use my plugin, it is based on the newest Polylang Pro module: https://github.com/lufton/polylang-share-slug

[2022-01-17 08:03] pierrehansen opened #52 "Polylang Slug produces critical error since last update"
had to deactivate the plugin since Wordpress 5.8.3 + Polylang 3.1.3

[2022-02-18 16:05] LukaszJaro commented on #52
What error are you getting? I'm using polylang Version 3.1.4 with no error.

[2022-02-20 16:37] showerglassdxb commented on #40
HI everyone within this community,
Theme is working find and its supper! but after few days I can't able to see my website Header and Footer. Both are disappeared as 2021 year gone. Can Someone Help for the same.

Here is link below for the reference. [showerglassdxb.com](https://www.showerglassdxb.com/)

[2022-02-20 16:51] grappler commented on #40
HI @showerglassdxb

You are best checking with the theme support team. This is an issue on an unrelated plugin.

[2022-03-08 11:07] pierrehansen commented on #52
Hey Lukasz,
this is the error I (always) get:

Fatal error: Uncaught ValueError: version_compare(): Argument #3 ($operator) must be a valid comparison operator in /homepages/u48097/testserver/brill/wp-content/plugins/polylang-slug-master/polylang-slug.php:31 Stack trace: #0 /homepages/u48097/testserver/brill/wp-content/plugins/polylang-slug-master/polylang-slug.php(31): version_compare('3.1.4', '1

[2022-03-08 12:35] chesio commented on #52
Hi @pierrehansen,

I think the problem is not related to Polylang or WordPress version, but to PHP version. I get the same error as you on PHP 8, but not on PHP 7.x.

I'll submit PR with a fix, but I'm not sure whether @grappler is going to merge it, the plugin is not maintained anymore as the same feature is now available in Polylang Pro.

[2022-03-08 12:38] pierrehansen commented on #52
Thanks for getting back. That's likely! I switched to php-fpm 8 to speed up my pages.

"as the same feature is now available in Polylang Pro" Good to know. Thanks!

[2022-03-08 12:50] #51 closed

[2022-03-08 12:50] #52 closed

[2022-03-08 12:52] #49 closed

[2022-03-08 13:00] #38 closed

[2022-03-08 13:15] grappler commented on #50
Thank you everyone for continuing to confirm that the code is still working.

[2022-03-08 13:15] #50 closed

[2022-03-08 13:16] #44 closed

[2022-07-31 09:41] berlindave commented on #50
Basically it's also still working for me. But i figured out that it was the culprit for disabling the "Reusable“ tab in the Block Editor. So I switched to : https://wordpress.org/plugins/permalink-manager/

WordPress 6.0.1
Polylang 3.2.5
Polylang Slug 0.2.6

[2022-11-21 14:26] SeoDeveloper01 commented on #8
Wow. I came here to add this feature request, but it's been hanging since 2015...
As for me, I have no desire to buy a subscription to Polylang Pro just for the sake of being able to use the same slugs. So this plugin could be a good solution to my problem, but without taxonomy support it is incomplete.

[2022-11-21 18:03] grappler commented on #8
Sorry, I don't plan to add this feature. I personally use the pro version, and it would cost more than €100 to develop the feature. I personally like the idea of supporting the original plugin developers so that the free version will be still available in the future.

I plan to leave this issue open so that the missing feature is visible.